@font-face {
    font-family: 'LG Smart UI';
    src: url('LGSmartUI-Bold.woff2') format('woff2'),
        url('LGSmartUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LG Smart UI';
    src: url('LGSmartUI-Regular.woff2') format('woff2'),
        url('LGSmartUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LG Smart UI';
    src: url('LGSmartUI-Light.woff2') format('woff2'),
        url('LGSmartUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LG Smart UI';
    src: url('LGSmartUI-SemiBold.woff2') format('woff2'),
        url('LGSmartUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

